<div class="container mt-5">
  <h1>{{character.name | uppercase}} <small>({{ character.created | date:'yyyy'}})</small></h1>
  <div class="row mt-5 animated fadeIn">
    <div class="col-md-4">
      <img src="{{character.image}}" class="img-fluid" [alt]="">
      <br><br>
      <a [routerLink]="['/characters'] " class="btn btn-outline-danger btn-block">Regresar</a>

    </div>
    <div class="col-md-8">
      <h3>{{character.name}}</h3>
      <hr>
      <p> <strong>Status: </strong>{{character.status}}</p>
      <p> <strong>Specie: </strong>{{character.species}}</p>
      <p *ngIf="character.type"> <strong>Type: </strong>{{character.type}}</p>
      <p> <strong>Gender: </strong>{{character.gender}} </p>
      <hr>
      <p *ngIf="character.origin.name"> <strong>Origin: </strong>{{character.origin.name}}</p>
<!--      <p *ngIf="character.location.name"> <strong>Location: </strong>{{character.location.name}}</p>-->

    </div>
  </div>
</div>

