<div class="jumbotron jumbotron-fluid animated fadeIn fast mt-5">
  <div class="container">
    <h1 class="display-4">Rick and Morty App</h1>
    <p class="lead">Welcome to Angular App using The Rick and Morty API (or ShlaAPI) is a RESTful and GraphQL API based on the television show Rick and Morty. You will have access to about hundreds of characters, images, locations and episodes. We are still gathering data, because as you probably know, there are trillions of characters and locations. The Rick and Morty API is filled with canonical information as seen on the TV show.</p>
  </div>
  <img src="./assets/imgs/rickandmorty.jpg" class="img-fluid">
</div>
